<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
            scroll-behavior: smooth;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
        body{
            background-color: var(--background-color) !important;
            transition: all 0.5s linear;
            overflow-x:hidden ;
        }

        h1,h3{
            color: var(--color);
            transition: all 0.5s linear;
            margin-bottom:10px !important;
        }

        tr{
            border-color:var(--color) !important;
            padding-top:6px;
            padding-bottom:6px;
        }

        :root{
            --background-color: #0c0c0c;
            --color: greenyellow;
        }
        @media screen and (max-width:1200px) {
            #rowWidth{
                width: 110px !important;
                height: 65px !important;
            }
        }
        @media screen and (min-width:1201px) {
            #rowWidth{
                width: 250px !important;
                height: 65px !important;
            }
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Digiverse || API</title>
</head>
<body>
    <div class="vh-100 container">
        <h1 class="fw-bold text-center pb-4 pt-3 my-3">Digiverse API</h1>
        <div class="form-check form-switch">
            <input onclick="themeSwitch(event)" type="checkbox" role="switch" class="form-check-input">
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h3 class="fw-bold">User Routes</h3>
                <table class="table table-dark">
                    <tbody>
                        <tr>
                            <th scope="row">GET</th>
                            <td id="rowWidth">/users</td>
                            <td>Shows all users on the database</td>
                        </tr>
                        <tr>
                            <th scope="row">POST</th>
                            <td id="rowWidth">/users</td>
                            <td>Adds a new user to the database</td>
                        </tr>
                        <tr>
                            <th scope="row">GET</th>
                            <td id="rowWidth">/users/:id</td>
                            <td>Shows the user with the specific ID on the database</td>
                        </tr>
                        <tr>
                            <th scope="row">PUT</th>
                            <td id="rowWidth">/users/:id</td>
                            <td>Edits the user with the specific ID on the database</td>
                        </tr>
                        <tr>
                            <th scope="row">DELETE</th>
                            <td id="rowWidth">/users/:id</td>
                            <td>Deletes the user with the specific ID from database</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h3 class="fw-bold">Product Routes</h3>
                <table class="table table-dark">
                    <tbody>
                        <tr>
                            <th scope="row">GET</th>
                            <td id="rowWidth">/products</td>
                            <td>Shows all products on the database</td>
                        </tr>
                        <tr>
                            <th scope="row">POST</th>
                            <td id="rowWidth">/products</td>
                            <td>Adds a new product to the database</td>
                        </tr>
                        <tr>
                            <th scope="row">GET</th>
                            <td id="rowWidth">/products/:id</td>
                            <td>Shows the product with the specific ID on the database</td>
                        </tr>
                        <tr>
                            <th scope="row">PUT</th>
                            <td id="rowWidth">/products/:id</td>
                            <td>Edits the product with the specific ID on the database</td>
                        </tr>
                        <tr>
                            <th scope="row">DELETE</th>
                            <td id="rowWidth">/products/:id</td>
                            <td>Deletes the user with the specific ID from the database</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 mt-3">
                <h3 class="fw-bold">Billing Routes</h3>
                <table class="table table-dark">
                    <tbody>
                        <tr>
                            <th scope="row">GET</th>
                            <td id="rowWidth">/billing</td>
                            <td>Shows all billing information on the database</td>
                        </tr>
                        <tr>
                            <th scope="row">GET</th>
                            <td id="rowWidth">/billing/:id</td>
                            <td>Shows all billing information of the user with the specific ID on the database</td>
                        </tr>
                        <tr>
                            <th scope="row">PUT</th>
                            <td id="rowWidth">/billing/:id</td>
                            <td>Updates the billing information of the user with the specific ID</td>
                        </tr>
                        <tr>
                            <th scope="row">DELETE</th>
                            <td id="rowWidth">/billing/:id</td>
                            <td>Clears the billing information of the user with the specific ID</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 mt-3">
                <h3 class="fw-bold">Cart Routes</h3>
                <table class="table table-dark">
                    <tbody>
                        <tr>
                            <th scope="row">GET</th>
                            <td id="rowWidth">/carts</td>
                            <td>Shows all cart information on the database</td>
                        </tr>
                        <tr>
                            <th scope="row">GET</th>
                            <td id="rowWidth">/cart/:id</td>
                            <td>Shows all cart information of the user with the specific ID on the database</td>
                        </tr>
                        <tr>
                            <th scope="row">POST</th>
                            <td id="rowWidth">/cart/:id</td>
                            <td>Updates the cart information of the user with the specific ID</td>
                        </tr>
                        <tr>
                            <th scope="row">DELETE</th>
                            <td id="rowWidth">/cart/:id</td>
                            <td>Clears the cart of the user with the specific ID on the database</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script>
        function themeSwitch(e){
            const tables = document.getElementsByClassName('table');
            if(e.target.checked){
                for(let i = 0; i<tables.length; i++){
                    tables[i].classList.remove('table-dark');
                    tables[i].classList.add('table-secondary')
                }
                document.querySelector(':root').style.setProperty('--background-color', '#aebdfd4')
                document.querySelector(':root').style.setProperty('--color', '#1e5ddb')
            }else{
                for(let i = 0; i<tables.length; i++){
                    tables[i].classList.remove('table-secondary');
                    tables[i].classList.add('table-dark')
                }
                document.querySelector(':root').style.setProperty('--background-color', '#0c0c0c')
                document.querySelector(':root').style.setProperty('--color', 'greenyellow')
            }
        }
    </script>
</body>
</html>